

.modal-body {
    height: 250px;
    overflow-y: auto;
}


.container img {
    max-width: 100% !important;
    height: auto;
}


li {
    font-size: 1em;
}

figcaption {
  font-weight: bold;
}


@media (min-height: 500px) {
    .modal-body {
        height: 400px;
    }
}

@media (min-height: 800px) {
    .modal-body {
        height: 600px;
    }
}

@media (min-width: 992px){
  li {
    font-size: 20px ! important;
  }
}
